.text-violet {
  color: blueviolet;
}
.bg-violet {
  background-color: blueviolet;
}
.icon-sm {
  width: 25px;
}
.icon {
  width: 30px;
}
.icon-md {
  width: 35px;
}
.invert {
  filter: grayscale(100%) invert(1);
}